<!-- Menu Bar -->
<div class="ui menu">
  <div class="ui container">
    <div class="header item borderless">
      <h1 class="ui header">{{ title }}</h1>
    </div>
    <div class="ui secondary menu">
      <a class="item"
        routerLink="articles"
        routerLinkActive="active green">Articles
      </a>
      <div class="right menu">
        <a class="item" *ngIf="authenticated" (click)="onLogout()">Logout</a>
        <a class="item" routerLink="auth/login" routerLinkActive="active green">Login</a>
        <a class="item" routerLink="auth/register" routerLinkActive="active green">register</a>
      </div>
    </div>
  </div>
</div>
